body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
  margin: 0;
}

/*Header & Navigation*/
header {
  font-size: 22px;
  font-weight: bold;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  background-color: black;
  }

header .logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
}

header nav span a {
display: inline-block;
padding: 10px;
text-decoration: underline;
margin: 0px 7px;
}

/* Main Section*/

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

/*Section 1 */

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background: url(../images/flowerTea.jpg) no-repeat;
  width: 1200px;
  height: 700px;
}

.flowerTea {
  text-align: center;
  background-color: black;
}

/*Section 2 */

  .section2 {
    display: flex;
    flex-direction: row;
  }

  .horizontal-align {
    display: flex;
    flex-direction: inline-block;
  }

  .section2 {
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    align-items: center;
  }

.section2 .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.wrap h4 {
  text-align: center;
}

/*Section 3 */

.section3 {
  display: flex;
  flex-direction: column;
  background: url(../images/locationTea.jpg) no-repeat;
  width: 980px;
  height: 500px;
  margin: auto;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0x;
}

.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: black;
  margin-top: 30px;
  justify-content: center;
  opacity: 1;
}

.location-container .box h4 {
  text-align: center;
}

.location-container .box p {
  text-align: center;
}


.section3 .location-heading h2 {
  display: flex;
  flex: row;
  justify-content: center;
  margin-bottom: 15px;
  }

/*Footer */

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 1200px;
  margin: auto;
  padding-top: 20px;
}

footer  h2 {
  text-align: center;
  align-items: center;
  padding: 9px;
  margin: 0;
}

footer  h5 {
  text-align: center;
  align-items: center;
  padding: 9px;
  margin: 0;
}

footer .copyright h5 {
  text-align: left;
}
