body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
}

/*Header & Navigation*/
header {
  font-size: 22px;
  font-weight: bold;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  }

header .logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
}

header nav span a {
display: inline-block;
padding: 10px;
text-decoration: underline;
margin: 0px 7px;
}

/* Main Section*/

.mainContainer {
  display: flex;
  flex-direction: column;
}

.section1 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.flowerTea {
  background-image: url(../images/flowerTea.jpg);
  width: 1200px;
  height: 700px;
  margin: auto;
}

.flowerTea h2 h4 {
  background-color: black;
  align-items: center;
  }

  .section2 {
    display: flex;
    flex-direction: row;
  }

  .horizontal-align {
    display: flex;
    flex-direction: inline-block;
  }
