body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
}

/*Header & Navigation*/
header {
  font-size: 22px;
  font-weight: bold;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
  }

header .logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
}

header nav span a {
display: inline-block;
padding: 10px;
text-decoration: underline;
margin: 0px 7px;
}

/* Main Section*/

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  position: relative;
  z-index: 5;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background: url(../images/flowerTea.jpg) no-repeat;
  width: 1200px;
  height: 700px;
}

.flowerTea {
  text-align: center;
  background-color: black;
}

  .section2 {
    display: flex;
    flex-direction: row;
  }

  .horizontal-align {
    display: flex;
    flex-direction: inline-block;
  }

  .section2 {
    width: 1000px;
    display: flex;
    flex-direction: column;
  }

.section2 .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap img {
  height: 200px;
  width: 300px;
}

.wrap .box {
  margin-bottom: 60px;
}
